.row_content{
	margin:0px auto;
	padding: 10px;
	border-bottom: 2px ridge;
	border-top: 2px ridge;


}

.row_header{
	min-height:150px;
	align-content: center;
	border-radius: 0px;
	background-color: #8A86E9;
	color:white;
	
	margin-bottom: 0px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.navbar-dark{
     background-color: #512DA8;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
